/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* COLOURS */
/* yellow - #ffd707 */

body{
  font-family: "OpenSans";
  background-color: #ffd707;
}

/* TITLES */
h1, h2, h3, h4 {font-family: "Londrina";}

/* Navigation */

.navbar {
  background-color: #fff;
}

/*containers*/
.main.container {
  background-color: #ffd707;
  padding: 5px;
  margin-top: 20px;
}
.response {
  max-width: 600px;
  display: block;
  float:none;
  margin: 0 auto;
}
.response-body {
  display: block;
  float:none;
  margin: 0 auto;
  max-width: 600px;
  min-height: 700px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  -moz-box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border: 0px solid #fff;
}

.response-details {
  background-color: #fff;
  padding: 20px;
  min-height: 100px;
  width: 100%;
}

.response-body.no-find {}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
