/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* COLOURS */
/*
yellow - #ffd707
red - #EA6B66
green - #67AB9F
lavender - #E1D5E7
tangerine - #FFB570
*/

body{
  font-family: "OpenSans", sans-serif;
  background-color: #ffd707;
}

/* TITLES */
h1, h2, h3, h4 {
  font-family: "Londrina", sans-serif;

}
.response h1{
  color: #67AB9F;
  text-transform: uppercase;
}
h1 .business-name {
  color: #EA6B66;
  font-weight: bold;
}


/* Navigation */

.navbar {
  background-color: #fff;
  color: #4D4D4D;
}

.navbar a {
  color: #EA6B66;
}
.navbar a:hover,
.navbar a:focus {
  color: #67AB9F;
}

.navbar.actions-bottom {
  background-color: #fff;
  color: #4D4D4D;
  text-align: center;
  margin-top: 25px;
  padding: 0 0;
}

.navbar.actions-bottom .col-md-6{
  padding: 25px 0;
}

.navbar.actions-bottom .col-md-6:hover,
.navbar.actions-bottom .col-md-6:focus{
  background-color: #EA6B66;
  color: #fff;
  padding: 25px 0;
  cursor: pointer;
}

/*containers*/
.main.container-fluid {
  background-color: #ffd707;
  margin-top: 20px;
}
.response {
  padding: 5px;
  max-width: 600px;
  display: block;
  float:none;
  margin: 0 auto;
}
.response-body {
  display: block;
  float:none;
  margin: 0 auto;
  max-width: 600px;
  min-height: 700px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  -moz-box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  box-shadow: 3px 3px 3px -1px rgba(120,120,120,0.6);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border: 0px solid #fff;
}

.response-details {
  background-color: #fff;
  padding: 20px;
  min-height: 100px;
  width: 100%;
}

.response-body.no-find {}

div#filters {
  background-color: #4D4D4D;
  color: #fff;
  padding: 25px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /*containers*/
  .main.container-fluid {
    margin-top: 40px;
  }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
