<!doctype html>
<html>
  <head>
    <head>
        <title>Lunchpad - Dublin based Food Finder</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="../static/css/font.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/util.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
    </head>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Lunchpad</a>
            </div>
             <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#About-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#social">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main container-fluid">
        <div class="response row">
            {% if business_name %}
            <h1>Looking for {{search_term}}? Get yourself to
              <span class="business-name">{{business_name}}</span>
            </h1>
            <div class="response-body card">
              <img class="img-fluid response_img" src={{image_url}} alt="Business Photo">
              <div class="response-details">
                <h2 class="business-name">{{business_name}}</h2>
                <p>{{distance}}m from
                  <span id="user-pos">Dublin City Center - enable location sharing
                    in your browser and reload for more accurate results!
                  </span>
                </p>
              </div>
            </div>
            {% else %}
            <h1>Looking for {{search_term}}?</h1>
            <h2>Tough luck!</h2>
            <div class="response-body no-find">
              <p>Don't be a fussy eater. Search again...</p>
            </div>
            {% endif %}
        </div>
        <div class="actions-bottom navbar row">
          <a href="/" class="col-md-6" id="get-new-business">
            Find another
          </a>
          <a class="col-md-6" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
              Filters
          </a>
      </div>

    </div>
    <div id="filters" class="container-fluid collapse">
      <div class="row">
        <div class="col-md-4 price"><center>€</center></div>
        <div class="col-md-4 price"><center>€€</center></div>
        <div class="col-md-4 price"><center>€€€</center></div>
      </div>
      <div class="row">
        <div class="col-md-4 speciality"><center>Vegan/Veg Friendly</center></div>
        <div class="col-md-4 speciality"><center>Dog Friendly</center></div>
        <div class="col-md-4 speciality"><center>Wheel chair accessible</center></div>
      </div>
    </div>



  </body>
</html>
